
<h1>
  Director <%= @x.id %> details
</h1>

<a href="/directors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @x.name %> 
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @x.dob %> 
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @x.bio %> 
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @x.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @x.created_at %> 
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @x.updated_at %> 
  </dd>
</dl>

<hr>


<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>


  
<% Movie.where({ :director_id => @x.id }).each do |a_movie| %>

  <tr>
    <td>
      <%= a_movie.id %>
    </td>

    <td>
      <img src="<%= a_movie.image %>" style="width:250px;">
    </td>

    <td>
      <%= a_movie.title %>
    </td>

    <td>
      <%= a_movie.year %>
    </td>

    <td>
      <%= @x.name %>
    </td>

    <td>
      <a href="/movies/<%= a_movie.id %>">
        Show details
      </a>
    </td>
  </tr>

<% end %>

</table>
